.ServiceCategory {
  max-width: 780px;
}

.ServiceCategory .cascadeSelector {
  display: flex;
  height: 350px;
  margin: 20px auto 0;
  border: 1px solid #ddd;
  overflow-x: scroll;
}

.ServiceCategory .innerItem {
  max-width: 33.333%;
  min-width: 220px;
}

.ant-radio-group {
  width: 100%;
}

:global(.ant-radio-wrapper) {
  display: block;
  padding: 8px 0 8px 4px;
  margin-right: 0;
}

.ant-radio {
  display: none;
}

.ant-checkbox-wrapper {
  display: block;
  padding: 8px 0 8px 8px;
  margin-left: 0;
}
