.root {
  padding: 10px;
}


.root .container {
    border: 1px solid #d9d9d9;
    position: relative;

    height: 36px;
}

.root .tags {
  white-space: nowrap;
  overflow-x: scroll;
  margin-right: 20px;
  display: flex;
  height: 100%;
}

.root .tags .tag {
  background-color: chocolate;

  font-size: 14px;
  display: inline-block;
  margin: 3px 2px;
  padding: 3px 4px;
  border-radius: 2px;
}

.root .tags input {
  border: 0 none;
  outline: 0 none;

  /* 待定 */


  /* 1. 在很多标签的时候，不希望后面留太多input，所以会想着限制一下宽度，例如 width:100px */
  /* 2. 但是在只有一个标签，或者没有的时候，不希望用户只是点击这 width:100px 才能弹出输入框，所以会设置成 flex:1 自适应 */
  flex: 1;
}




.close {
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    background-color: #d9d9d9;
    position: absolute;
    border-radius: 50%;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
}
